.contenedor_editor{
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    gap: 5px;
    box-sizing: border-box;
    width: 100%;

}

.post_form{
    padding: 20px;
    border-radius: 10px;
    background-color: #222840;
}

.contenido_inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contenido_inputs input{
    padding: 5px;
    margin-bottom: 10px;
}

.buttons_editor{
    padding: 10px;
}

.document-editor__editable{
    background-color: white;
    height: 300px;
}

.document-editor__editable p{
    /* color: black; */
    font-weight: 100;
}