body{
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255, 1);
    background-color: #131727
}

p{
    color: rgb(255, 255, 255, 0.6);
}

a{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255, 1);
    text-align: left;
}

a:hover{
    color: rgb(255, 255, 255, 0.4);
}

button{
    cursor: pointer;
}

ul{
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: column;
}