body{
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

