.sidebar{
    position: absolute;
    width: 200px;
    height: 100%;
    padding: 10px;
    background-color: #00081b;
    border-right: 1px solid #c5c5c5;
    color: #fff;
}

.header{
    background-color: #001d60;
    border: 1px solid #001442;
    margin-top: 20px;
    padding: 20px 0 20px 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
}

.menu{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid red;
}