/*
.header{
    padding: 20px 0 20px 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.menu{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid red;
} */

.sidebar{
    display: flex;
    flex-direction: column;
    color: #fff;
    /* height: 100vh; */
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001d60;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

.menu_button{
    background-color: transparent;
    border: none;
}

.menu_button > svg{
    height: 30px;
    width: 30px;
}

.menu{
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 65px;
    padding: 15px;
    width: 40%;
    height: 100vh;
    background-color: #00081b;
}

.nav_menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
}