.sidebar{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    background-color: #131727;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    border-bottom: 2px solid rgb(255, 255, 255, 0.03);
}

.menu_button{
    background-color: transparent;
    border: none;
}

.menu_button > svg{
    height: 30px;
    width: 30px;
}

.menu{
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    margin-top: 65px;
    padding: 15px;
    width: 40%;
    height: 100vh;
    background-color: #131727;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.55));
}

.nav_menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav_menu > div{
    display: inline-flex;
    gap: 2px;
}